env/
venv/
.vscode
.DS_Store
venv
env
.env
.venv
settings.json


mysite/mysite/__pycache__
mysite/hello/__pycache__

learning_templates/learning_templates/__pycache__
learning_templates/basic_app/__pycache__

class_based_view/class_based_view/__pycache__
class_based_view/basic_app/__pycache__

blog_project/blog/__pycache__
blog_project/blog_project/__pycache__
blog_project/blog/migrations/__pycache__

video_rental/video/__pycache__
video_rental/video_rental/__pycache__
video_rental/video/migrations/__pycache__

simplesocial/simplesocial/__pycache__
simplesocial/accounts/__pycache__
simplesocial/accounts/migrations/__pycache__
simplesocial/posts/__pycache__
simplesocial/posts/migrations/__pycache__
simplesocial/groups/__pycache__
simplesocial/groups/migrations/__pycache__


profiles_project/profiles_project/__pycache__
profiles_project/profiles_api/__pycache__
profiles_project/profiles_api/migrations/__pycache__